@model IEnumerable<AzureMiddayMingle.Models.Employee>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interest3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuisine3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuisine3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        
    </tr>
}

</table>
